@page
@model Song1Model
@{
    ViewData["Title"] = "My First Song";
    ViewData["song1"] = "Vintunava";
}

<body>
    <h1>@ViewData["Title"] :  @ViewData["song1"]</h1>
    <img src="~/Images/Chinmaye.jpg" width="200" height="200" />
    <audio controls>
        <source src="~/songs/Vintunnavaa - SenSongsmp3.Co.mp3" type="audio/mpeg">
    </audio>
    <br>
    <div class="card-header">              
        <p>Palukulu nee pere, taluchukunna<br />
        Pedavula anchullo, anuchukunna<br />
        Mounamu tho, nee madhi ni<br />
        Bandhincha manninchu priya<strong>&#8230;</strong></p>
        <p>Um mm mm umm mm mm, oo<strong>&#8230;</strong></p>
        <p>(Tarime varama, tadime swarama<br />
        Idhigo ee janma needani antunna<br />
        Vintunnava vintunnava vintunnava) * 2<br />
        Vintunnava vintunnava<strong>&#8230;</strong></p>
        <p>Vinna vevela veenala santhoshala sankeerthanalu<br />
        Naa gundello ippude vintunna<br />
        Tholi sari nee matallo<br />
        Pulakinthala pa da ni sa lu vinna<br />
        Chaalu chaale cheliya cheliya<br />
        Bathikundaga nee pilupulu nenu vinna<br />
        Ooo bathikundaga nee pilupulu nenu vinna<strong>&#8230;</strong></p>
        <p>Yemo, yemo, yemavuthundo<br />
        Yedemaina nuvve chusuko<br />
        Viduvanu ninne, ika paina<br />
        Vintunnava priya<strong>&#8230;</strong></p>
        <p>Gaali lo tella kaagitham la<br />
        Nenala theli aaduthunte<br />
        Nanne aapi, nuvve raasina<br />
        Aa paatalane vintunna<strong>&#8230;</strong></p>
        <p>Tarime varama, tadime swarama<br />
        Idhigo ee janma needani antunna<br />
        Vintunnava vintunnava vintunnava<br />
        Vintunnava vintunnava<strong>&#8230;</strong></p>
        <p>Aadhyantham, yedo yedo anubhooti<br />
        Aadhyantham yedo anubhuti<br />
        Anavaragam ila andinchedi<br />
        Gaganam kanna munupatidi<br />
        Bhuthalam kanna idi venukatidi<br />
        Kalam thona puttindi, kalam la maare<br />
        Manase lenidi prema<strong>&#8230;</strong></p>
        <p>Ra, ila, kowgillalo, ninnu daachukunta<br />
        Nee daaninai ninne, daari chesukunta<br />
        Yevarini kaluvani chotula lona<br />
        Yevarini taluvani velala lona<strong>&#8230;</strong></p>
        <p>Tarime varama, tadime swarama<br />
        Idhigo ee janma needani antunna<br />
        Vintunnava vintunnava vintunnava<br />
        Vintunnava vintunnava<strong>&#8230;</strong></p>
        <p>Vinna vevela veenala santhoshala sankeerthanalu<br />
        Naa gundello ippude vintunna<br />
        Tholi sari nee matallo<br />
        Pulakinthala pa da ni sa lu vinna<br />
        Chaalu chaale cheliya cheliya<br />
        Bathikundaga nee pilupulu nenu vinna<br />
        Ooo bathikundaga nee pilupulu nenu vinna<br />
        Umm mm mm<strong>.  ♥ ♫ </strong>🙂<strong> ♥</strong><br />
    </div>
</body>
